body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}